html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.vertical-align{
    display: flex;
    align-items: center;
}

.color-gold{
    background-color: #deb158;
}

.color-mineshaft{
    background-color: #343434;
}

.whats-app {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 3px 4px 3px #999;
    right: 15px;
    z-index: 100;
}

.my-float {
    margin-top: 10px;
}

.features-logo{
    width: 50px;
    height: 50px;
}

.gallery-size{
    width: 200px;
    height: 200px;
}

.font-text{
    font-size: 16px;
}

.underline-style{
    text-decoration: underline; 
    text-decoration-color: #deb158;
}

.text-color{
    color: #deb158;
}

.product-image{
    width: 300px;
    height: 300px;
}

